.Header li{
text-transform: uppercase;
padding: 10px;
}


.Header nav {
background-color: #73978C !important;
width: 100%;
}

.Header .nav-link {
color: white
}

.Header .nav-link:after {
  display:block;
  content: '';
  border-bottom: solid 3px #E1C0A9;  
  transform: scaleX(0);  
  transition: transform 250ms ease-in-out;
}

.Header .nav-link:hover:after { transform: scaleX(1); }